<div class="form-label-group">
    <input 
        [ngClass]= "(controlDir && controlDir.control && controlDir.touched)? !controlDir.control.valid? 'is-invalid' : 'is-valid' : null " 
        [type]="type" 
        (input)="onChange($any($event.target).value)"
        (blur) ="onTouched()"
        #input
        [id]="label" 
        class="form-control" 
        [placeholder]="placeholder" 
        required="" 
        autofocus="">
        <div *ngIf="controlDir && 
                    controlDir.control &&
                    controlDir.control.status === 'PENDING'"
             class="fa fa-spinner fa-spin loader"></div>
    <label for="{{label}}">{{placeholder}}</label>
    <div class="invalid-feedback" *ngIf="controlDir && 
                                         controlDir.control && 
                                         !controlDir.control.valid &&
                                         controlDir.control.touched">
            <span *ngIf="controlDir.control.errors?.['required']">{{placeholder}} is required</span>
           


    </div>
    <div class="invalid-feedback d-block" *ngIf="controlDir &&
                                                 controlDir.control &&
                                                 !controlDir.control.valid &&
                                                 controlDir.control.dirty">
                     <span *ngIf="controlDir.control.errors?.['vendorNotUnique']">{{placeholder}} already exists</span>

    </div>

   
  </div>
