<div class="container" id="aboutdiv">
    <h1 class="text-center" style="margin-top: 50px;">About Us</h1>
    <p class="text-center" style="margin-top: 10px;">
        <strong>CRIS (Centre for Railway Information Systems)</strong> is an organization under Ministry of Railways. CRIS is a unique combination of competent IT professionals 
        and experienced Railway personnel enabling it 
        to successfully deliver complex Railway IT systems in core areas. 
        Since its inception, CRIS is developing/maintaining 
        softwares for the following key functional areas of the Indian Railways.
    </p>
    <hr>
    <p class="text-center">This application has been developed to store vendor details and 
        get their information as and when required.
    </p>
</div>
